<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<style>img {
    height: 50px;
    width: 50px;
}</style>


<script>
    ['wall-paper (1).webp', 'wall-paper (13).webp', 'wall-paper (17).webp', 'wall-paper (4).webp', 'wall-paper (8).webp', 'wall-paper (10).webp', 'wall-paper (14).webp', 'wall-paper (18).webp', 'wall-paper (5).webp', 'wall-paper (9).webp', 'wall-paper (11).webp', 'wall-paper (15).webp', 'wall-paper (2).webp', 'wall-paper (6).webp', 'wall-paper (12).webp', 'wall-paper (16).webp', 'wall-paper (3).webp', 'wall-paper (7).webp'].forEach(src => {
    var img = document.createElement('img');img.src = `C:/Users/Lenovo/Downloads/Toilet wall cabinets/New folder/${src}`;
        document.body.appendChild(img);
    })
</script>
</body>
</html>