<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="mahmud-remal" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://bd.linkedin.com/in/mahmud-remal?trk=profile-badge">Remal Mahmud</a></div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<script>
    // ['wall-paper (1).webp', 'wall-paper (13).webp', 'wall-paper (17).webp', 'wall-paper (4).webp', 'wall-paper (8).webp', 'wall-paper (10).webp', 'wall-paper (14).webp', 'wall-paper (18).webp', 'wall-paper (5).webp', 'wall-paper (9).webp', 'wall-paper (11).webp', 'wall-paper (15).webp', 'wall-paper (2).webp', 'wall-paper (6).webp', 'wall-paper (12).webp', 'wall-paper (16).webp', 'wall-paper (3).webp', 'wall-paper (7).webp'].forEach(src => {
    // var img = document.createElement('img');img.src = `C:/Users/Lenovo/Downloads/Toilet wall cabinets/New folder/${src}`;
    //     document.body.appendChild(img);
    // })
</script>
</body>
</html>