.wp-admin {
  .fwp__esign {
    &__header {
      display: block;
    }
  }

  .swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 9999;
  }
  .fwp-swal2-popup {
    height: 90vh;
    margin: auto;
    max-height: 100vh;
    width: 95vw !important;
    max-width: 100vw !important;
    .swal2-html-container {
      margin: 0;
      text-align: unset;
    }
    .dynamic_popup {
      .spinner-material {
        width: 56px;
        height: 56px;
        margin: auto;
        margin-top: 50px;
        border-radius: 50%;
        margin-bottom: 50px;
        border: 9px solid #474bff;
        border-bottom-color: #ddd;
        animation: spinner-aib1d7 0.8s infinite linear;
        & + h3 {
          text-align: center;
          margin-bottom: 2rem;
        }
      }
      .popup_close{
        top: 1rem;
        left: unset;
        right: 1rem;
        height: 30px;
        width: 30px;
        display: flex;
        padding: unset;
        cursor: pointer;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid #d3d3d3;
      }
      .popup_body {
        margin: auto;
        display: block;
        max-width: 500px;
        text-align: unset;
        padding: 2rem 1rem;
      }
      .popup_foot {
        gap: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: end;
        .button {
          gap: 10px;
          display: flex;
          align-items: center;
          .invisible {
            visibility: hidden;
          }
          .spinner-circular-tube {
            width: 26px;
            height: 26px;
            display: none;
            border-radius: 50%;
            border: 11.2px #474bff double;
            border-left-style: solid;
            animation: spinner-aib1d7 0.75s infinite linear;
          }
          &:disabled .spinner-circular-tube {
            display: block;
          }
          &.btn-default {
            background: #333;
            margin-right: auto;
          }
        }
        .calculated-prices {
          font-weight: 700;
          .price_amount {
            color: #fb18a9;
          }
        }
      }
  
    }
    .swal2-progress-steps {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      .swal2-progress-step {
        padding: 3px 10px;
        height: unset;
        width: unset;
        border-radius: 15px;
      }
    }
  }
}
@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}


.pdf_builder__container {
  .upload-pdf {
    border: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 0 5rem #c1c1c185 inset, 0 0 5rem #c1c1c1;
    border-radius: 5px;
  }
  #signature-builder {
    z-index: 0;
    padding: 20px;
    min-height: 100px;
    background: #eee;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .active {
    outline: 1px solid red;
  }
  .hover {
    outline: 1px solid blue;
  }
  .drop-item {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
  }
  .drop-item .remove {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}


.pdf-dropzone {
  height: 400px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px dashed #8b8b8b;
  box-shadow: 0px 0px 14px #a3a3a3 inset;
  @include mq($until: 500px) {
    min-height: 300px;
  }
}
.pdf_builder {
  &__container {
    width: 100%;
    margin: 5rem auto;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__builder {
    width: 75%;
    .esign-body {
      z-index: 0;
      padding: 20px;
      min-height: 100px;
      background: #eee;
      margin-bottom: 20px;
      border-radius: 10px;
      &__single {
        padding: 5px 10px;
        border: 1px solid #ddd;
        details {
          summary {
            padding: 10px 5px;
          }
          &[open] {
            summary {
              margin-bottom: 10px;
              border-bottom: 1px solid #ddd;
              &+div {
                gap: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input {
                  max-width: 80%;
                  width: -webkit-fill-available;
                }
              }
            }
          }
        }
      }
    }
  }
  &__fields {
    width: 25%;
    &__grid {
      
    }
    .esign-fields {
      gap: 10px;
      z-index: 1;
      padding: 20px;
      display: grid;
      background: #eee;
      margin-bottom: 20px;
      border-radius: 10px;
      &__single {
        width: 100%;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #ccc;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #333;
        border-color: #ccc;
      }
    }
  }
}